html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
}
#gyroButton{
    position:fixed;
    left:50%;
    bottom:30px;
    transform:translateX(-50%);
    padding:14px 22px;
    border:none;
    border-radius:14px;
    font-size:18px;
    cursor:pointer;
    z-index:1000;
}